# Local virtual environment
venv/
.venv/
env/


# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/


# IDE files
.vscode/
.idea/
*.swp
*.swo


# Git files
.git/
.gitignore


# Environment files and credentials (secrets)
.env
*.json
!**/.env.example
